@import url(./_active/header__lang-link_active.css);

.header__lang-link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: calc( (100vw - 320px) / (768 - 320) * (24 - 18) + 18px);
    line-height: calc( (100vw - 320px) / (768 - 320) * (38 - 40) + 40px);
  }
}
