.lead__caption {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);;
  }
}
