.intro__title {
  margin: 0 0 40px;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: calc( (100vw - 320px) / (768 - 320) * (54 - 32) + 32px);
    line-height: calc( (100vw - 320px) / (768 - 320) * (58 - 35) + 35px);
  }
}
